.article1{
margin-right: 70px;
border-radius: 25px;
border: solid white 3px;
}
.button{
  display: flex;
  flex-direction: row;
}
.bloc{
  display: flex;
  flex-direction: column;
  padding-top: 50px;

}
img{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}
.button2{
  width: 115px;
  animation-name: button2;
  animation: button2 50s infinite;
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-style: bold;

}
.button3{
  width: 120px;
  animation-name: button3;
  animation: button3 50s infinite;
  border: none;
  font-size: 15px;
  border-bottom-right-radius: 25px;
}
.sndbloc{
  margin-top: 50px;
  margin-left: 65px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.quatre{
  display: flex;
  flex-direction: row;
}
.neon{
  margin-top: 25px;
  width: 95%;
  height: 75px;
  border-radius: 50px;
  margin-left: 25px;
  border: 6px solid white;
  background-color: red;
}
.neon1{
  margin-top: 25px;
  width: 95%;
  height: 75px;
  border-radius: 50px;
  margin-left: 25px;
  border: 6px solid white;
  background-color: yellow;

}
